@keyframes transitionIn2 {
   from {
       opacity: 0;
       transform: translateX(-320px)
   }
   to {
       opacity: 1;
       transform: translateX(0px)
   }
}

.pokemonE.forPlayer {
    background-image: url(./images/backsprites.png);
    background-size: 2800%;
    height: 320px;
    width: 320px;
    animation: transitionIn2 1.3s;
    margin: 0;
}

.pokemonE.forPlayer.Bulbasar {
   background-position-y: 0;
}

.pokemonE.forPlayer.Charmander {
   background-position-y: 0;
   background-position-x: -300%;
}

.pokemonE.forPlayer.Squirtle {
   background-position-y: 0;
   background-position-x: -600%;
}

.pokemonE.forPlayer.Wartortle {
   background-position-y: 0;
   background-position-x: -700%;
}

.pokemonE.forPlayer.Ivysaur {
   background-position-y: 0;
   background-position-x: -100%;
}

.pokemonE.forPlayer.Pikachu {
   background-position-y: 0;
   background-position-x: 400%;
}

.pokemonE.forPlayer.Caterpie {
   background-position-y: 0;
   background-position-x: -900%;
}

.pokemonE.forPlayer.Metapod {
   background-position-y: 0;
   background-position-x: -1000%;
}

.pokemonE.forPlayer.Giratina {
   background-position-y: -1700%;
   background-position-x: -1000%;
}

.pokemonE.forPlayer.ButterFree {
   background-position-y: 0;
   background-position-x: -1100%;
}
.pokemonE.forPlayer.Weedle {
   background-position-y: 0;
   background-position-x: -1200%;
}
.pokemonE.forPlayer.Kakuna {
   background-position-y: 0;
   background-position-x: -1300%;
}

.pokemonE.forPlayer.Beedrill {
   background-position-y: 0;
   background-position-x: -1400%;
}

.pokemonE.forPlayer.Pidgey {
   background-position-y: 0;
   background-position-x: -1500%;
}

.pokemonE.forPlayer.Pidgeot {
   background-position-y: 0;
   background-position-x: -1600%;
}

.pokemonE.forPlayer.Rattata {
   background-position-y: 0;
   background-position-x: -1800%;
}

.pokemonE.forPlayer.Rattata {
   background-position-y: 0;
   background-position-x: -1900%;
}



