* {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-image: url('./images/pokemon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
header {
    background-image: url('./images/pokemon.png');
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: -10px 5px 10px;
    animation: transitionIn 5s;
}

main { 
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;

}

/**************************INITIAL START**************************/
.loadingBar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loadingBar progress {
    height: 20px;
    width: 300px;
    background-color: blue;
}


.starterPage {
    background-color: gray;
    height: 700px;
}

.starterPage h2 {
 text-align: center;
}
.starterBall {
    margin-top: 50px; 
    height: 60px;
    width: 60px;
}

#pokemonStarters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 600px;
}
.starterContainers {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 500px;
    align-items: center;
}



.starterImage {
    background-image: url(./images/black-white.png);
    background-size: 3100%;
    background-color: gray;
    border: 10px solid black;
    border-radius: 10%;
    height: 250px;
    width: 250px;
}
.starterImage.selected {
    background-image: url(./images/black-white.png);
    background-size: 3100%;
    background-color: gray;
    border: 10px solid white;
    border-radius: 10%;
    height: 250px;
    width: 250px;
}
.starterImage.charmander{
    background-color: red;
    background-position-y: 0;
    background-position-x: -300%;

}
.starterImage.bulbasaur {
    background-color: green;
    background-position-y: 0;

}

.starterImage.squirtle {
    background-color: blue;
    background-position-y: 0;
    background-position-x: -600%;
}



.gameName{
    justify-content: center;
    align-self: center;
}


#playerStatus  {
    text-align: center;
    padding-bottom: 1vh;
    margin-bottom: 20px;
    }
    
#submitName {
    height: 30px;
    width: 120px;
    margin-left: 10px;
}

#nameInput {
    height: 2vh;
}

.row {
    border: 1px solid black;
    background: none;
    border: none;
    margin: 0;
}

.cell {
    background: none;
    margin: 0;
    border: none;
    width: 1vh;
    height: 1vh;
}




#grid {
    height: 1000px;
    width: 1000px;
    background-color: green;
    background-size: 25%;
    background-image: url(./images/grass..jpg);
}

#grid-encoutner {
    height: 1000px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    flex-grow: 1
;
}
.backgroundBattle {
background-image: url('https://thumbs.dreamstime.com/b/empty-grass-field-sky-blue-99715346.jpg');
background-size: cover;
}
table {
    height: 100%;
    width: 100%;
    margin: 0;
}




@keyframes walk {
    0%, 32% {
        background-position-x: 0;
    }
    33%, 65% {
        background-position-x: -100%;
    }
    66%, 100% {
        background-position-x: -200%;
    }
}



.player {
    background-image: url('./images/pokemonSpriteSheet.png');
    background-size: 400%;
    background-position-x: 0;
    
    animation: .3s walk linear;
}



.player.down {
    background-position-y: 0;
}

.player.up {
    
    background-position-y:-300%;
}

.player.left {
    background-position-y: -100%;
    
}

.player.right {
    background-position-y: -200%;
}


/******************************POKEMON ENCOUNTERED******************************/
.encounter-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    
    
}

.top {
    height: 100%;
    width: 100%;
}

.top.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 400px;
   
}
.top.two {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 400px;
}
.top.three {
    height: 200px;
}

#pokemonRandomHealth {
    margin-right: 40px;
    width: 400px;
    background-color: red;
}

#pokemonPlayerHealthContainer{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 480px;
    height: 127px;
    margin-bottom: 15px;
    background-color: gray;
    border: 3px solid black;
    border-radius: 2%;
    outline: 2px solid white;
    margin-right: 3.5px;
}


#pokemonPlayerHealth {
    justify-content: center;
    width: 400px;
    background-color: red;
}

#pokemonHp {
height: 30px;
width: 460px;
margin: 0;
align-self: center;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: black;
border-radius: 10%;
}

#pokemonHp span {
  color: rgb(179, 179, 7);
}



 
#pokemonHealthName {
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
    

.top.three {
    flex-grow: 3;
    display: flex;
    flex-wrap: wrap;
}

.button {
    width: 50%;
    border-radius: 7%;
}









